<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,240},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,25},{11,11}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,215},{22,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,18},{22,24}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,215},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,15},{38,33}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,108},{47,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,11},{47,45}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,163},{55,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,10},{55,51}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,55},{56,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,9},{56,52}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{56,54}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,108},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,6},{55,54}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>explode.png</string>
			</dict>
		</dict>
</plist>